<!-- BEGIN: Main Menu-->
<app-navigation-menu></app-navigation-menu>
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
<div class="app-content content">

	<!-- BEGIN: Header-->
	<app-navigation-header></app-navigation-header>
	<!-- END: Header-->

	<div class="content-wrapper">
		<div class="content-header row">
		</div>
		<div class="content-body">
			<!-- Dashboard Analytics Start -->
			<section id="activate-account">
				
				<div class="row match-height">
					<div class="col-lg-3 col-12"></div>
					<div class="col-lg-6 col-12 text-center">
						<div style="padding-top: 55px; padding-bottom: 55px;">
							<h2>Activate your account</h2>
							<p>
								To activate your account, weather business or starter, kindly complete the checks below. When you’re done, click the “Send Activation Request” button. Our service delivery team will reach out to you
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-12"></div>
				</div>

				<div class="">
					<!-- Notification-begins -->
                    <div class="settings-notification mb-2">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title pb-2">Requirements for GoLive</h4>
                                <p><em>You need to complete these checks for a golive request</em></p>
                            </div>
                            <div class="card-content">
                                <ul class="list-group notification">
                                    <li class="list-group-item d-flex pt-1 pb-1">
                                        <span><a href='#/personal-details'><b>Personal Details</b></a> <br />Enter a few personal details to verify your identity</span>
                                        <div class="custom-control custom-switch custom-switch-primary ml-auto">
                                            <a href="#/personal-details" class="btn btn-primary shadow">Start now <i class="feather icon-chevrons-right"></i></a>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex pt-1 pb-1">
                                        <span><a href='#/personal-details'><b>Business Details</b></a> <br />Upload your business registration documents</span>
                                        <div class="custom-control custom-switch custom-switch-primary ml-auto">
                                            <a href="#/business-details" class="btn btn-primary shadow">Start now <i class="feather icon-chevrons-right"></i></a>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex pt-1 pb-1">
                                        <span><a href='#/personal-details'><b>Bank Details</b></a> <br />Let us know where to send your payouts to</span>
                                        <div class="custom-control custom-switch custom-switch-primary ml-auto">
                                            <a href="#/bank-details" class="btn btn-primary shadow">Start now <i class="feather icon-chevrons-right"></i></a>
                                        </div>
                                    </li>
								</ul>
								
								<div class="col-12 pt-1">
                                    <button type="submit" class="btn btn-success mb-1 shadow"><b>Request for Account Activation</b></button>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    <!-- Notification-end -->
				</div>
				
			</section>
			<!-- Dashboard Analytics end -->

		</div>
	</div>
</div>
<!-- END: Content-->

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- BEGIN: Footer-->
<app-navigation-footer></app-navigation-footer>
<!-- END: Footer-->