<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="#/dashboard">
                        <div class="brand-logo"></div>
                        <h2 class="brand-text mb-0" style="color: white">GUST</h2>
                    </a>
                </li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" navigation-header"><span>My Account</span>
                </li>
                <li class="active nav-item"><a href="#/dashboard"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span></a>
                </li>
                <li class=" nav-item"><a href="#/settings/personal-details"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Dashboard">Account Settings</span></a>
                </li>

                <li class=" navigation-header"><span>My Business</span>
                </li>
                <li class=" nav-item"><a href="#"><i class="feather icon-credit-card"></i><span class="menu-title" data-i18n="Data List">Payment</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="feather icon-file-text"></i><span class="menu-title" data-i18n="Data List">Collection</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="feather icon-shopping-cart"></i><span class="menu-title" data-i18n="Todo">Checkout</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="feather icon-folder"></i><span class="menu-title" data-i18n="Todo">Wallet Balance</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="feather icon-users"></i><span class="menu-title" data-i18n="Todo">Customers</span></a>
                </li>

                <li class=" navigation-header"><span>Developers</span>
                </li>
                <li class=" nav-item"><a href="#/api/keys/webhook"><i class="feather icon-check-circle"></i><span class="menu-title" data-i18n="Data List">API Keys</span></a>
                </li>
                <li class=" nav-item"><a href="#/api/keys/webhook"><i class="feather icon-anchor"></i><span class="menu-title" data-i18n="Colors">Webhooks</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="feather icon-message-circle"></i><span class="menu-title" data-i18n="Content">Notification</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="feather icon-list"></i><span class="menu-title" data-i18n="Content">Logs</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="feather icon-eye"></i><span class="menu-title" data-i18n="Icons">Events</span></a>
                </li>

                <li class=" navigation-header"><span>Support</span>
                </li>
                <li class=" nav-item"><a href="#"><i class="feather icon-file"></i><span class="menu-title" data-i18n="">API Reference</span><span class="badge badge badge-pill badge-danger float-right">1.0</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="feather icon-alert-circle"></i><span class="menu-title" data-i18n="">Knowledge Base</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="feather icon-folder"></i><span class="menu-title" data-i18n="Documentation">Disputes</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="feather icon-life-buoy"></i><span class="menu-title" data-i18n="Raise Support">Raise Support</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->